/*------------------------------------*\
    #PROGRESS BAR
\*------------------------------------*/
.nprogress-custom-parent {
	overflow: hidden;
	position: fixed !important;
	top: 0px;
	width: 100%;
	z-index: 1111;
	height: 3px;
}

.nprogress-custom-parent #nprogress .bar {
	height: 3px;
	background: $blue;
}

#nprogress .peg {
	box-shadow: 0 0 10px $blue, 0 0 5px $blue !important;
}